
.maincontainer {
    font-family: 'Lato', sans-serif;
   max-width: 1412px; 
    
}

.members: {
    font-family: 'Lato', sans-serif;
     max-width: 1412px;
}

.footer {
    font-family: 'Lato', sans-serif;
/*    max-width: 1412px;*/
    padding: 25px;
    background-color: black;
    color: ghostwhite;
    text-align: center;
}

.icon-bar {
    background-color: #f9a015;
    
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.nav navbar-nav navbar-right {
    font-family: 'Lato', sans-serif;
   font-size: 1em;
   margin-bottom:0px;
    color:black;
}

.btn {
    color: white;
    background-color: #f9a015;
    font-family: 'Lato', sans-serif;
}

.banner {
   background-image: url("images/bannerimage.jpg");
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    padding-bottom: 80px;
}

.banner h1 {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    width: 500px;
    font-size: 3em;
  font-weight: 700;
    font-style: italic;
    color:white;
}

h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }

h3 {
 
        font-family: 'Lato', sans-serif;
        font-weight: 600;
}

.col-sm-4 h3 { 
   font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.col-sm-4 p { 
   font-family: 'Lato', sans-serif;
    
}

.carousel-inner {
    width: 1300px;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.members{
    width: 1300px;
     display: block;
    margin-left: auto;
  margin-right: auto;
}
